/* Variables
------------------------------------------- */
/* Global
------------------------------------------- */
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; }

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto; }

.btn {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 0.6rem 3.5rem;
  font-weight: 500;
  color: #FFF;
  text-decoration: none;
  text-align: center; }

.btn-primary {
  background: #79c582; }

.btn-secondary {
  background: rgba(250, 250, 250, 0.3); }

.btn-small {
  padding: 0.3rem 1.5rem; }

.btn-large {
  padding: 0.75rem 4rem;
  font-size: 1.35rem; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

/* Banner
------------------------------------------- */
#banner {
  background-image: url(../images/sma-banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #banner header {
    padding: 2rem 0; }
  #banner #logo {
    color: #FFF;
    font-weight: 700;
    font-size: 1.35rem;
    float: left;
    margin: 0; }
    #banner #logo span {
      font-weight: 300; }
  #banner nav {
    float: right; }
    #banner nav a {
      color: #FFF;
      font-weight: 500;
      text-decoration: none;
      margin-left: 2rem; }
  #banner .content {
    padding: 4rem 0 8rem 0; }
    #banner .content .title, #banner .content .subtitle {
      color: #FFF;
      text-align: center; }
    #banner .content .title {
      font-size: 3.5rem;
      margin: 0; }
    #banner .content .subtitle {
      font-weight: 400;
      font-size: 1.35rem;
      width: 500px;
      margin: 0 auto 2rem auto;
      line-height: 1.75; }
    #banner .content .button-wrapper {
      text-align: center;
      margin: 3rem 0; }
      #banner .content .button-wrapper .btn {
        margin: 0 0.75rem; }
    #banner .content .scroll {
      position: absolute;
      left: 50%;
      margin-left: -15px;
      bottom: 90px; }

/* Services
------------------------------------------- */
#services {
  background: #f2f1f8;
  padding: 2rem 0 6.5rem 0;
  position: relative; }
  #services .service {
    background: #FFF;
    width: 31%;
    float: left;
    margin: -5rem 1% 0 1%;
    padding: 3rem 2.5%;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    border-radius: 0.35rem; }
    #services .service h3 {
      margin: 0;
      font-size: 1.5rem;
      color: #3f3d4e; }
    #services .service p {
      margin: 0 0 2rem 0;
      color: #a9a6ba; }
    #services .service .btn {
      padding: 0.5rem 2rem; }
    #services .service:after {
      content: " ";
      position: absolute;
      left: 50%;
      bottom: -50px;
      height: 50px;
      border-left: 2px solid #dbd9e7; }
  #services .middle:after {
    bottom: -105px;
    height: 105px; }
  #services:before {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: 54px;
    width: 59.5%;
    border-top: 2px solid #dbd9e7;
    margin-left: -30.1%; }

/* Past Work
------------------------------------------- */
#past-work {
  background: #48414b;
  padding: 5rem 0 25rem 0;
  text-align: center;
  position: relative;
  overflow: hidden; }
  #past-work .title {
    color: #FFF;
    font-size: 2.5rem;
    margin: 0 0 0.75rem 0; }
  #past-work .logos {
    width: 750px;
    max-width: 95%; }
  #past-work #slider-nav {
    list-style: none;
    padding: 0;
    margin: 2rem 0; }
    #past-work #slider-nav a {
      text-decoration: none; }
    #past-work #slider-nav li {
      width: 9px;
      height: 9px;
      margin: 0 0.5rem;
      position: relative;
      border-radius: 100%;
      display: inline-block;
      background-color: #747285;
      transition: background 0.4s ease-in-out; }
      #past-work #slider-nav li:hover {
        background: #79c582; }
    #past-work #slider-nav .current {
      background-color: #79c582; }
  #past-work #slider {
    list-style: none; }
    #past-work #slider li {
      width: 600px;
      height: 375px;
      overflow: hidden;
      background: #FFF;
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      position: absolute;
      z-index: 3;
      border-radius: 0.35rem 0.35rem 0 0; }
      #past-work #slider li img {
        width: 100%; }
      #past-work #slider li:nth-child(1) {
        bottom: -37px;
        left: 0;
        -webkit-transform: scale(0.8, 0.8);
        -moz-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
        z-index: 2; }
      #past-work #slider li:nth-child(2) {
        bottom: 0;
        left: 50%;
        margin-left: -300px;
        z-index: 4; }
      #past-work #slider li:nth-child(3) {
        bottom: -37px;
        right: 0;
        -webkit-transform: scale(0.8, 0.8);
        -moz-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
        z-index: 2; }

/* Contact
------------------------------------------- */
#contact {
  background: #f2f1f8;
  padding: 6rem 0 8rem 0;
  text-align: center; }
  #contact .title {
    font-size: 2.5rem;
    color: #3f3d4e;
    margin: 0; }
  #contact .subtitle {
    font-size: 1.5rem;
    color: #a9a6ba;
    width: 600px;
    max-width: 100%;
    display: block;
    margin: 0 auto 4rem auto; }

footer {
  padding: 1rem 0; }
  footer .copyright {
    text-align: center;
    font-weight: 700;
    color: #a9a6ba; }
    footer .copyright a {
      color: #79c582;
      text-decoration: none; }
